original

# test data
*.in
*.out
*/*/inputs
*/*/outputs

# compressed file
*.tgz
*.zip
*.tar

# report
*.word
doc/
README
*/README
*/*/README
*.md

# pa1
pa1/b09901080_pa1_submit
pa1/b09901080_pa1

# pa2
pa2/backup
pa2/b09901080_pa2
!pa2/pa2/golden/

# pa3
backup*/

# Tempfiles
*.tmp

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*/bin
*/*/bin/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Images
*.jpg

# Documents / Spreadsheets
*.docx
*.xlsx
*.css

# Zip files
*.zip
*.tar
*.tgz

# Intelligence
*.vscode
